$base-color: #f64028;
$white-color: #FFFFFF;
$bg-color: red;
$orange-color:#f59a32;
$lightOrange-color: #fde4c9;
$maroon-color:#c14752;
$cofi-color:#8a7967;
$blue-color: #154986;
$light-gray-color: #f3f4f8;
$dark-gray-color: #c3c3c3;
$base-font-color: #333333;