@import "../../assets/scss/colors.scss";

body {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: hidden;
}

.box {
	background-color: #FFF;
	height: 100%;
	box-shadow: 2px 2px 3px #eee;
}


a {
	&:hover {
		text-decoration: none !important;
	}
}

.mainScroll {
	height: calc(100vh - 81px);
	width: calc(100% - 2px);
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 72px;

}

.content-wrapper {
	-webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
	transition: transform .3s ease-in-out,margin .3s ease-in-out;
	
	min-height: calc(100vh - 0px);
	background-color: #fff;
	z-index: 800;
}

.fixed {
	.main-header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
	.main-sidebar {
		position: fixed;
	}
	.left-side {
		position: fixed;
	}
	.content-wrapper {
		padding-top: 50px;
	}
	.right-side {
		padding-top: 50px;
	}
	.wrapper {
		overflow: hidden;
	}
	.control-sidebar {
		position: fixed;
		height: 100%;
		overflow-y: auto;
		padding-bottom: 50px;
	}
}
.fixed.layout-boxed {
	.wrapper {
		max-width: 100%;
	}
}

.content-header {
	position: relative;
	padding: 15px 15px 0 15px;
	display: inline-block;
	width: 100%;
	>h1 {
		margin: 0;
		font-size: 22px;
		// margin: 16px 0px;
		>small {
			font-size: 15px;
			display: inline-block;
			padding-left: 4px;
			font-weight: 300;
		}
	}
	>.breadcrumb {
		float: right;
		background: transparent;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 12px;
		padding: 7px 5px;
		position: absolute;
		top: 15px;
		right: 10px;
		border-radius: 2px;
		>li {
			>a {
				color: #444;
				text-decoration: none;
				display: inline-block;
				>.fa {
					margin-right: 5px;
				}
				>.glyphicon {
					margin-right: 5px;
				}
				>.ion {
					margin-right: 5px;
				}
			}
		}
		>li+li {
			&:before {
				content: '>\00a0';
			}
		}
	}
}
.navbar-toggle {
	color: #fff;
	border: 0;
	margin: 0;
	padding: 15px 15px;
}
.main-sidebar {
	position: relative;
    float: left;
	min-height: 100%;
	min-width: 200px;
	z-index: 999;
	-webkit-transition: all .3s !important;
    -o-transition: all .3s !important;
    transition: all .3s !important;
	.user-panel {
		white-space: nowrap;
		overflow: hidden;
	}
}
.sidebar {
	padding-bottom: 10px;
	height:100vh;
}
.sidebar-form {
	input {
		&:focus {
			border-color: transparent;
		}
	}
	overflow: hidden;
	text-overflow: clip;
}
.user-panel {
	position: relative;
	width: 100%;
	padding: 10px;
	overflow: hidden;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	>.image {
		>img {
			width: 100%;
			max-width: 45px;
			height: auto;
		}
	}
	>.info {
		padding: 5px 5px 5px 15px;
		line-height: 1;
		position: absolute;
		left: 55px;
		>p {
			font-weight: 600;
			margin-bottom: 9px;
		}
		>a {
			text-decoration: none;
			padding-right: 5px;
			margin-top: 3px;
			font-size: 11px;
			>.fa {
				margin-right: 3px;
			}
			>.ion {
				margin-right: 3px;
			}
			>.glyphicon {
				margin-right: 3px;
			}
		}
	}
}
.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	>li {
		position: relative;
		margin: 0;
		padding: 0;
		>a {
			padding: 17px 5px 12px 15px;
			display: block;
			>.fa {
				width: 37px;
				font-size: 25px;
				float: left;
				margin-top: -3px;
			}
			>.glyphicon {
				width: 20px;
			}
			>.ion {
				width: 20px;
			}
		}
		.label {
			margin-right: 5px;
		}
		.badge {
			margin-right: 5px;
			margin-top: 3px;
		}
	}
	li.header {
		padding: 10px 25px 10px 15px;
		font-size: 12px;
	}
	li {
		>a {
			>.fa-angle-left {
				width: auto;
				height: auto;
				padding: 0;
				margin-right: 10px;
				-webkit-transition: transform .5s ease;
				-o-transition: transform .5s ease;
				transition: transform .5s ease;
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -8px;
			}
			>.pull-right-container {
				>.fa-angle-left {
					width: auto;
					height: auto;
					padding: 0;
					margin-right: 10px;
					-webkit-transition: transform .5s ease;
					-o-transition: transform .5s ease;
					transition: transform .5s ease;
				}
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -7px;
			}
			position: relative;
		}
	}
	.menu-open {
		>a {
			>.fa-angle-left {
				-webkit-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
			>.pull-right-container {
				>.fa-angle-left {
					-webkit-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					transform: rotate(-90deg);
				}
			}
		}
	}
	.active {
		>.treeview-menu {
			display: block;
		}
	}
	>li.header {
		white-space: nowrap;
		overflow: hidden;
		overflow: hidden;
		text-overflow: clip;
	}
	&:hover {
		overflow: visible;
	}
}
.sidebar-expanded-on-hover {
	.main-footer {
		margin-left: 50px;
	}
	.content-wrapper {
		margin-left: 50px;
	}
	.main-sidebar {
		box-shadow: 3px 0 8px rgba(0,0,0,0.125);
	}
}
.control-sidebar-bg {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	top: 0;
	right: -230px;
	width: 230px;
	-webkit-transition: right .3s ease-in-out;
	-o-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;
}
.control-sidebar {
	top: 0;
	right: -230px;
	width: 230px;
	-webkit-transition: right .3s ease-in-out;
	-o-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;
	position: absolute;
	padding-top: 50px;
	z-index: 1010;
	>.tab-content {
		padding: 10px 15px;
	}
}
.control-sidebar.control-sidebar-open {
	right: 0;
}
.control-sidebar.control-sidebar-open+.control-sidebar-bg {
	right: 0;
}
.control-sidebar-hold-transition {
	.control-sidebar-bg {
		transition: none;
	}
	.control-sidebar {
		transition: none;
	}
	.content-wrapper {
		transition: none;
	}
}
.control-sidebar-open {
	.control-sidebar-bg {
		right: 0;
	}
	.control-sidebar {
		right: 0;
	}
}
.nav-tabs.control-sidebar-tabs {
	>li {
		&:first-of-type {
			>a {
				border-left-width: 0;
				&:hover {
					border-left-width: 0;
				}
				&:focus {
					border-left-width: 0;
				}
			}
		}
		>a {
			border-radius: 0;
			border-top: none;
			border-right: none;
			border-left: 1px solid transparent;
			border-bottom: 1px solid transparent;
			&:hover {
				border-top: none;
				border-right: none;
				border-left: 1px solid transparent;
				border-bottom: 1px solid transparent;
			}
			.icon {
				font-size: 16px;
			}
		}
	}
	>li.active {
		>a {
			border-top: none;
			border-right: none;
			border-bottom: none;
			&:hover {
				border-top: none;
				border-right: none;
				border-bottom: none;
			}
			&:focus {
				border-top: none;
				border-right: none;
				border-bottom: none;
			}
			&:active {
				border-top: none;
				border-right: none;
				border-bottom: none;
			}
		}
	}
}
.control-sidebar-heading {
	font-weight: 400;
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 10px;
}
.control-sidebar-subheading {
	display: block;
	font-weight: 400;
	font-size: 14px;
}
.control-sidebar-menu {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	>li {
		>a {
			display: block;
			padding: 10px 15px;
			&:before {
				content: " ";
				display: table;
			}
			&:after {
				content: " ";
				display: table;
				clear: both;
			}
			>.control-sidebar-subheading {
				margin-top: 0;
			}
		}
	}
	.menu-icon {
		float: left;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		text-align: center;
		line-height: 35px;
	}
	.menu-info {
		margin-left: 45px;
		margin-top: 3px;
		>.control-sidebar-subheading {
			margin: 0;
		}
		>p {
			margin: 0;
			font-size: 11px;
		}
	}
	.progress {
		margin: 0;
	}
}
.control-sidebar-dark {
	color: #b8c7ce;
	background: #222d32;
	.nav-tabs.control-sidebar-tabs {
		border-bottom: #1c2529;
		>li {
			>a {
				background: #181f23;
				color: #b8c7ce;
				border-left-color: #141a1d;
				border-bottom-color: #141a1d;
				&:hover {
					border-left-color: #141a1d;
					border-bottom-color: #141a1d;
					background: #1c2529;
					color: #fff;
				}
				&:focus {
					border-left-color: #141a1d;
					border-bottom-color: #141a1d;
					background: #1c2529;
				}
				&:active {
					background: #1c2529;
				}
			}
		}
		>li.active {
			>a {
				background: #222d32;
				color: #fff;
				&:hover {
					background: #222d32;
					color: #fff;
				}
				&:focus {
					background: #222d32;
					color: #fff;
				}
				&:active {
					background: #222d32;
					color: #fff;
				}
			}
		}
	}
	.control-sidebar-heading {
		color: #fff;
	}
	.control-sidebar-subheading {
		color: #fff;
	}
	.control-sidebar-menu {
		>li {
			>a {
				&:hover {
					background: #1e282c;
				}
				.menu-info {
					>p {
						color: #b8c7ce;
					}
				}
			}
		}
	}
}
.control-sidebar-dark+.control-sidebar-bg {
	background: #222d32;
}
.control-sidebar-light {
	color: #5e5e5e;
	background: #f9fafc;
	border-left: 1px solid #d2d6de;
	.nav-tabs.control-sidebar-tabs {
		border-bottom: #d2d6de;
		>li {
			>a {
				background: #e8ecf4;
				color: #444;
				border-left-color: #d2d6de;
				border-bottom-color: #d2d6de;
				&:hover {
					border-left-color: #d2d6de;
					border-bottom-color: #d2d6de;
					background: #eff1f7;
				}
				&:focus {
					border-left-color: #d2d6de;
					border-bottom-color: #d2d6de;
					background: #eff1f7;
				}
				&:active {
					background: #eff1f7;
				}
			}
		}
		>li.active {
			>a {
				background: #f9fafc;
				color: #111;
				&:hover {
					background: #f9fafc;
					color: #111;
				}
				&:focus {
					background: #f9fafc;
					color: #111;
				}
				&:active {
					background: #f9fafc;
					color: #111;
				}
			}
		}
	}
	.control-sidebar-heading {
		color: #111;
	}
	.control-sidebar-subheading {
		color: #111;
	}
	.control-sidebar-menu {
		margin-left: -14px;
		>li {
			>a {
				&:hover {
					background: #f4f4f5;
				}
				.menu-info {
					>p {
						color: #5e5e5e;
					}
				}
			}
		}
	}
}
